@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Regular.ttf");
}

@font-face {
    font-family: "FUN GAMES";
    src: url("../fonts/Fungames-lgPnq.otf");
}

div, ul {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: #000;
    background-image: url(../images/background.png);
    background-size: 100%;
    background-position: 50% 0;
    font-family: PT Sans;
    color: #FFFFFF;
    transition: 0s linear;
    transition-property: all;
    transition-property: background-position;
    cursor: url(https://cur.cursors-4u.net/games/gam-10/gam948.ani), url(https://cur.cursors-4u.net/games/gam-10/gam948.png), auto !important;
}

.container {
    padding: 0 120px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0 auto;
    padding: 12px 0;
    width: 100%;
    background: #000;
    border-bottom: 2px solid #7230C9;
    font-size: 18px !important;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-item {
    margin: 0 24px 0 0;
    padding: 0;
}

.menu-item:first-child {
    margin-right: auto;
}

.menu-item:last-child {
    margin-left: auto;
}

.main-container {
    padding-top: 60px;
}

.top-slide-content {
    z-index: 1;
    position: relative;
    height: 850px;
    margin: 0 auto;
    max-width: 1600px;
    /* background-image: url(../images/hero.png); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.top-slide-content .wrap .text {
    padding: 15px;
    border-radius: 10px;
    background: rgba(50, 50, 50, 0.3);
}

.top-slide-content .title-4 {
    margin: 0 0 30px 0;
}

.hero {
    max-width: 50%;
}

.top-slide-content .wrap {
    padding-right: 30px;
    max-width: 40%;
}

.info-block .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .top-slide-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    
    .hero {
        max-width: 80%;
        padding: 30px 0 0;
    }

    .top-slide-content .wrap {
        max-width: 100%;
        padding-right: 0;
    }

    .main-container .container {
        padding: 15px;
    }

    .title {
        text-align: center !important;
        font-size: 50px !important;
    }
}

.text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.with-text {
    width: 25%;
}

.info-block .text {
    max-width: 50%;
    background: rgba(50, 50, 50, 0.3);
    padding: 15px;
    border-radius: 15px;
}

.info-block:before {

}

.info-block:after {

}

.button {
    position: relative;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 31px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 75px;
    z-index: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    cursor: pointer;
    width: fit-content;
    background: #FFD703;
    text-decoration: none;
}



.button:visited {
    color: #000000;
}

.title {
    display: block;
    font-family: 'PT Sans';
    font-size: 75px;
    line-height: 80px;
    font-weight: 700;
    letter-spacing: 0.01em;
    font-style: normal;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;
}

.menu .link {
    white-space: nowrap;
}

.menu .menu-item {
    margin: 0 5px;
}

.link {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #E3DBF3;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

.link, .link:visited {
    color: inherit;
    text-decoration: none;
    cursor: url(https://cur.cursors-4u.net/games/gam-10/gam942.ani), url(https://cur.cursors-4u.net/games/gam-10/gam942.png), auto !important;
}

.logo {
    max-width: 104px;
}

.mt-12 {
    margin-top: 12px;
}

.title-4 {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #FFFFFF;
    display: block;
}

.mt-24 {
    margin-top: 24px;
}

.text {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
}

.theme-1 {
    padding: 40px 0;
}

.subtitle {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.025em;
    max-width: 800px;
    color: #FFFFFF;
    display: block;
    text-align: center;
}

.mt-40 {
    margin-top: 40px;
}

.jc-center {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.al-center {
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.swiper-container {
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.map-block .title,
.partners .title {
    text-align: center;
}

.burger {
    position: absolute;
    display: block;
    visibility: hidden;
    width: 0;
    cursor: pointer;
}

.burger .burger-line {
    width: 35px;
    height: 2px;
    margin: 10px 0;
    background: #FFFFFF;
}

@media screen and (max-width: 1244px) {
    .swiper-container {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 1124px) {
    .socials.simple-socials,
    .header .container .menu {
        display: none;
    }

    .header .container .burger {
        visibility: visible;
        position: initial;
        width: auto;
    }

    .header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
    }

    /* .menu {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .menu .menu-item {
        margin-right: 0;
    }

    .menu .menu-item:last-child {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .menu .menu-item:last-child .socials {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu .menu-item:first-child {
        margin-left: 0;
        margin-right: 0;
    }

    .menu .menu-item .social {
        margin: 5px;
        padding: 5px;
        max-width: 10%;
    }

    .menu .menu-item:last-child .link {
        width: 100%;
        margin: 5px;
        padding: 5px;
        text-align: center;
        display: block;
    }

    .menu-item .link {
        padding: 5px;
    }

    .header .container {
        padding: 10px;
    } */
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    transform: translate3d(0px, 0px, 0px);
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    margin-right: 24px;
    text-decoration: none;
}

.partner-slide img {
    background-color: #FFF;
}

.swiper-slide img {
    max-width: 100%;
}

.map-block {
    background-image: url(../images/map-back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 60%;
}

.map-item:nth-child(-n+4) {
    margin-bottom: 140px;
}

/*.map-item:first-child, .map-item:nth-child(5) {*/
/*    opacity: 1;*/
/*}*/

.map-item {
    width: 25%;
    padding: 16px;
    /*opacity: .2;*/
    opacity: 1;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
}

@media screen and (max-width: 920px) {
    .map-block .map-item {
        width: 40%;
        margin-bottom: 5px;
        z-index: 100;
    }

    .map-wrap {
        margin: 0 auto;
    }

    .map-block {
        background: none;
        position: relative;
        /* z-index: 100; */
    }

    .map-block::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 22px;
        z-index: 99;
        height: 100%;
        width: 100%;
        background: url("../images/map-rotate.png") no-repeat;
        background-size: auto 70%;
        background-position: center;
        /* opacity: 0.5; */
    }

    .map-block .map-item:nth-child(2n) {
        margin-left: auto;
    }
}

@media screen and (max-width: 450px) {
    .map-item {
        /* margin: 5px !important; */
        width: 45% !important;
    }

    .map-item ul li {
        font-size: 14px !important;
    }
}

.map-item:hover {
    opacity: 1;
}

.w-100 {
    width: 100%;
}

.title-5 {
    font-family: 'FUN GAMES', Verdana, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #0070c0;
}

.vil-border {
    padding: 14px;
    background: rgba(100, 100, 100, 0.2);
    border-radius: 28px 28px 28px 0px;
}

.social:not(:last-child) {
    margin-right: 24px;
}

.social {
    height: 32px;
    width: 32px;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tg {
     background-image: url(../images/telegram.svg);
}

.disc {
     background-image: url(../images/disc.svg);
}

.reddit {
     background-image: url(../images/reddit.png);
}

.youtube {
     background-image: url(../images/youtube.png);
}

.inst {
     background-image: url(../images/inst.svg);
}

.twi {
     background-image: url(../images/twi.svg);
}

.tt {
     background-image: url(../images/tt.png);
}

li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.dots-ul li::before {
    content: "";
    height: 4px;
    width: 4px;
    background-color: #FFF;
    top: 7px;
    left: -9px;
    display: inline;
    box-sizing: border-box;
    flex-shrink: 0;
    z-index: 10;
    position: absolute;
    border-radius: 50%;
}

@media screen and (max-width: 570px) {
    #roadmap.map-block {
        display: none;
    }

    .wrapper .menu .menu-item:nth-child(3) {
        display: none
    }
}

@media screen and (max-width: 650px) {
    .wrapper .info-block .wrap .text {
        max-width: 80%;
    }

    .wrapper .info-block .text-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .wrapper .info-block .wrap .with-text {
        width: 40%;
        padding: 10px;
    }
}

.burger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 72px;
    right: 0;
    pointer-events: none;
    background: #000000;
    border-bottom: 2px solid #7230C9;
    border-left: 2px solid #7230C9;
    border-right: 2px solid #7230C9;
    max-width: 300px;
}

.burger-menu .b-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.burger-menu .b-menu .menu-item {
    margin: 0;
}

.burger-menu .socials {
    max-width: 200px;
    margin: 0 20px;
}

.burger-menu .socials .social {
    max-height: 80px;
    padding: 8px;
    margin: 10px;
}

.burger-menu .link {
    padding: 8px;
    margin: 3px 0;
    font-size: 20px;
}

.burger-menu.opened {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 2px solid #7230C9;
    background: #000000;
    padding: 10px 0;
    color: #AAAAAA;
}

.footer .socials {
    margin: 2px 0 5px;
    flex-wrap: nowrap;
}

.footer .socials .social {
    height: 25px;
    width: 25px;
    margin: 4px;
}

.white-tg {
    max-width: 30px;
    padding: 0 5px;
}

.beta {
    text-transform: lowercase;
    margin: 0 0 0 6px;
}